@media (max-width: 768px) {
  .btn-nav-desktop {
    display: none;
  }
  .btn-nav-mobile {
    display: block;
  }
  .contact {
    display: none;
  }
  .about {
    display: none;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .parentheses {
    display: none;
  }
}

@media (min-width: 768px) {
  .btn-nav-desktop {
    display: block;
  }
  .btn-nav-mobile {
    display: none;
  }
}
